.container{
    position: absolute;
    top: 40%;
    left: 55%;
    transform:translate(-50%, -50%);
    border: 1px solid blue;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 20px
}
.btn{
    position: absolute;
    top: 60%;
    left: 55%;
    transform:translate(-50%, -50%);
}
button{
    background-color: blue;
    border-radius: 10px;
    color: white;
}
.footer{
    background-color: blue;
    width: 300px;
    height: 100%;
    position: absolute;
    bottom: 0%;
}

.footer header{
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 70px;
}
.footer ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18pxpx;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
li{
    list-style: none;
}
ul li:hover a {
    padding-left: 20px;
}
@media screen and (max-width: 600px){
    .footer{
        width: 200px;
    }
    .container{
        left: 70%;
    }
    .btn{
        left: 70%;
    }
}